*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    color: white;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(51, 130, 204) 50%, rgb(89, 0, 255) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
 
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
 
.bg3 {
    animation-duration:5s;
}
 
.content {
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}

.footer {
    height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2.5%;

    & .icons {
        display: flex;
        gap: 20px;
    }
}

.timer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 60px;
    padding: 60px;
    padding-bottom: 0px;
    margin-bottom: 0;
}

.countdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    & div {
        margin: 10px;
        width: 80px;
    }

    & p {
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: green;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: 32px;
        font-weight: bolder;
    }

    & h3 {
        text-transform: uppercase;
        color: white;
        margin-top: 15px;
        font-size: 10px;

    }
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
 
    100% {
        transform:translateX(25%);
    }
}